:root{
    font-family: Inter, system-ui, avenir, helvetica, arial, sans-seriif;
    line-height: 1.5;
    font-weight: 400;
    place-content: center;
    min-height:100vh;
    background-color: #f5f5f5;
}   